body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: beige;
}

ul {
  font-size: 18px;
}

li {
  margin: 10px;
}

input {
  margin: 10px;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
}

.element-name {
  font-size: 20px;
  color: blue;
}

.symbol {
  color: black;
}

.appearance {
  color: black;
}
